@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;500;700&display=swap");
:root {
  --primary-color: #ffbe34;
  --primary-sec-color: #091242;
  --secondary-color: #f4f4f4;
  --text-heading-color: #1c1f35;
  --text-paragraph-color: #666c89;
  --gradient: linear-gradient(
    94.06deg,
    #ffb629 -1.21%,
    #ffda56 50.75%,
    #ffd7a6 102.71%
  );
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-heading-color);
}

p {
  color: var(--text-paragraph-color);
  margin-bottom: 0;
}

.hero {
  min-height: 100vh;
  background: url("../assets/Backgroound.jpg");
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.5);
  background-position: center 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
}

nav {
  padding-inline: 4rem;
}

.navInfoMobile,
.cancelIcon {
  display: none;
}

header .firstNav {
  height: 6rem;
  background-color: var(--primary-sec-color);
}

.logo {
  height: 10rem;
}

.contact ul {
  gap: 2.5rem;
}
.contact ul li img {
  height: 2.9375rem;
}

.contact ul li a {
  text-decoration: none;
}

.contact ul li p {
  color: #fff;
  font-size: 0.9rem;
  font-family: "Krub", sans-serif;
  font-style: normal;
  line-height: 1.18rem;
  margin: 0;
  margin-left: 0.8rem;
}

header .secNav {
  height: 4rem;
  background: rgba(9, 18, 66, 0.25);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.secNav ul li > img {
  height: 1.19rem;
}
.nav-items a {
  text-decoration: none;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135.023%;
  transition: ease-in-out 0.1s;
}

.nav-items a:hover {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}

.nav-items a:active {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}

.nav-items a.active {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}

.social li a img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.secNav ul {
  gap: 1.75rem;
}

.nav-items {
  position: relative;
}

li.nav-items:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 2px 1px 0 0;
  position: absolute;
  right: -15px;
  top: 5px;
  height: 75%;
}

.hero-content {
  margin-top: 4rem;
  padding-left: 10rem;
  display: flex;
  width: 42rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.hero-content h1 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-content p {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: rgba(4, 28, 55, 0.5);
  padding: 0.1875rem 0.5625rem;
  width: 18.3125rem;
  align-items: center;
  border-left: var(--primary-color) 0.25rem solid;
}

.services {
  min-height: 100vh;
  padding-inline: 14rem;
  padding-block: 10rem;
  gap: 2rem;
}

.smallLabels {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.44rem;
  background-color: var(--secondary-color);
  border-left: var(--primary-color) 0.25rem solid;
  width: 7.5625rem;
  height: 1.4375rem;
}

.headerServices h3 {
  columns: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 2.18rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 18.375rem;
  height: 5.8125rem;
  flex-shrink: 0;
}

.servicesCard .col {
  width: 25rem;
}

.service {
  gap: 3px;
}

.service .line {
  width: 1rem;
  height: auto;
  background: var(--secondary-color);
  margin-inline: 1rem;
}

.service .icon {
  width: 5rem;
  height: 7.1875rem;
}

.service .icon img {
  height: auto;
  width: 3rem;
}

.service h5 {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.55rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.service p {
  color: var(--text-paragraph-color);
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.why-us {
  position: relative;
}

.bg {
  background-image: url("../assets/secBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
}

.whyUsBox {
  padding-top: 5rem;
  padding-left: 5rem;
  height: 45rem;
  background-color: #fff;
  position: absolute;
  min-width: 75%;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.whyUsBoxDetails h3 {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.whyUsBoxDetails .logisticPara {
  color: var(--text-paragraph-color);
  font-family: "Krub", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
  width: 20rem;
}

.whyUsBox .images {
  height: 30rem;
}

.images .firstAbout {
  width: 100%;
  height: 23rem;
  flex-shrink: 0;
}
.images .secAbout {
  position: absolute;
  bottom: 0;
  left: -100px;
}

.prosDetails .prosIcon img {
  width: 2.5rem;
  margin-right: 0.3rem;
}

.prosDetails p {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.content {
  width: 100%;
  min-height: 60vh;
  margin-top: 25rem;
  position: relative;
}

.content h3 {
  color: var(--text-heading-color);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 2.15rem;
}

.photos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-inline: 8rem;
  justify-content: center;
}

.photos-grid img {
  width: 14rem;
  height: auto;
}

.photos-grid .img-container {
  position: relative;
  cursor: pointer;
}

.img-container:hover .img-details {
  opacity: 1;
}

.img-details {
  opacity: 0;
  position: absolute;
  bottom: -1.25rem;
  padding: 1rem;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.7, 0.4);
}

.img-details h5 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: all 0.5ms;
  text-align: center;
  margin-bottom: 2.5px;
}

.img-details p {
  color: #ffb629;
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
}

.bgGradient {
  height: 50vh;
  width: 100%;
  background: var(--gradient);
  position: absolute;
  bottom: -100px;
  z-index: -1;
}

.why-choose {
  background: linear-gradient(
    to right,
    var(--primary-sec-color) 50%,
    var(--secondary-color) 50%
  );
  margin-top: 5rem;
  padding-block: 10rem;
}

.why-choose .whyChooseImg {
  width: 100%;
  margin-left: 3rem;
}

.whyChooseBox h3 {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 25rem;
  padding-bottom: 1rem;
}

.whyChooseBox .whyChooseParag {
  color: var(--text-paragraph-color);
  font-family: "Krub", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 151.523%;
  width: 25rem;
  padding-bottom: 1.5rem;
}

.whyChooseBox {
  padding-left: 6rem;
  width: 50%;
}

.whyChooseBox .smallLabels {
  background-color: rgba(232, 232, 232, 0.5);
}

.featureIcon {
  width: 3rem;
}

.pros {
  padding-top: 1rem;
}

.featureDetails p {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bookingSection {
  min-height: 100vh;
  background: linear-gradient(180deg, #ffd44e 0%, rgba(255, 212, 78, 0) 100%);
  padding-inline: 2.5%;
}

.bookingContaienr .smallLabels {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 0.44rem;
  background: rgba(168, 169, 175, 0.25);
  border-left: var(--primary-sec-color) 0.25rem solid;
  width: 6rem;
}

.bookingContaienr h3 {
  color: var(--text-heading-color);
  font-family: "Rubik", sans-serif;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 23rem;
}

.bookingInfoDetails {
  padding-left: 1rem;
}

.bookingInfoDetails p {
  margin-bottom: 0;
  color: var(--text-heading-color);
  font-family: "Krub", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135.023%;
}

.bookingInfoDetails a {
  text-decoration: none;
}

.bookingInfoDetails a:hover {
  text-decoration: underline;
  color: var(--text-heading-color);
}

.bookingInfo img {
  width: 3rem;
}

input,
.select {
  border: 1px solid var(--text-paragraph-color);
  background-color: transparent;
  padding: 0.5rem;
  width: 17rem;
  height: 3rem;
}

.select {
  color: #3c3c3d8a;
}

input::placeholder {
  color: #3c3c3d8a;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:focus-visible,
.select:focus-visible {
  outline: none;
}

button {
  display: flex;
  padding: 1rem 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: var(--gradient);

  color: var(--text-heading-color);
  font-family: "Krub";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  border: none;
  width: 10rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
}

.sponsorsImages img {
  height: 13rem;
  padding: 0;
  margin: 0;
  font-size: 0px;
  width: 20rem;
}

.borderLine {
  width: 96.4%;
  border: 0.5px solid var(--text-paragraph-color);
}

.secBg {
  background: url(../assets/footer.png);
  height: 24rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -15px;
}

.footerNav {
  background-color: rgb(31, 37, 78);
  height: 7rem;
  margin-top: -25px;
}

.footerNav .logoDiv {
  background: var(--primary-sec-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
}

.subs h2 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer {
  min-height: 45vh;
  background-color: var(--primary-sec-color);
  margin-top: -2rem;
}

.footerInfo {
  padding-top: 5rem;
}

.footerInfoDetails {
  padding-left: 1rem;
}

.footerInfoDetails p {
  margin-bottom: 0;
  color: #fff;
  font-family: "Krub", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135.023%;
}

.footerInfoDetails a {
  text-decoration: none;
}

.footerInfoDetails a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-footer {
  height: 75px;
  border-top: 1px solid var(--text-paragraph-color);
  background-color: var(--primary-sec-color);
  color: white;
}

.footer-footer-names {
  padding-top: 3px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-footer a {
  text-decoration: none;
  color: white;
  margin-inline: 5px;
}

.footer-footer-names a:hover {
  text-decoration: underline;
  color: white;
}

.imgContainer {
  width: 50%;
  margin-right: 0rem;
  margin-left: 0rem;
}

.enlan,
.arlan {
  display: flex;
  padding: 1rem 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: none;
  color: #fff;
  font-family: "Krub";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 100%;
  margin-inline: 0.25rem;
}

.enlan:hover,
.arlan:hover {
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 100dvh;
  }
  .lang {
    background: none;
    color: white;
    width: 50%;
  }
  nav {
    padding-inline: 2rem;
  }

  header .firstNav {
    height: 6rem;
  }

  .logo {
    height: 8rem;
  }

  .contact ul {
    gap: 1rem;
    flex-direction: row-reverse;
  }

  .contact ul li img {
    height: 2.5rem;
  }

  .contact ul li a {
    text-decoration: none;
  }
  .social {
    margin-top: 7rem;
  }

  .contact ul li p {
    color: #fff;
    font-size: 0.7rem;
    font-family: "Krub", sans-serif;
    font-style: normal;
    line-height: 1.18rem;
    margin: 0;
    margin-left: 0.8rem;
  }

  .hero-content {
    margin-top: 5rem;
    padding-left: 0rem;
    margin-left: 0;
    display: flex;
    width: 18rem;
  }

  .hero-details {
    padding-inline: 1rem;
    padding-top: 5rem;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .servicesCard .col {
    width: 20rem;
  }

  .services {
    padding-inline: 2rem;
  }

  .headerServices h3 {
    text-align: start;
  }

  .bg {
    height: 14dvh;
  }

  .whyUsBox {
    margin-inline: 0;
    flex-direction: column;
    padding-left: 1rem;
    top: 145px;
    width: 100%;
  }

  .whyUsBoxDetails {
    padding-bottom: 4rem;
    width: auto;
  }

  .images {
    padding-inline: 0rem;
    display: flex;
    justify-content: center;
  }

  .whyUsBoxDetails h3 {
    width: 19rem;
    padding-bottom: 1rem;
  }

  .images .firstAbout {
    width: 20rem;
    height: 20rem;
  }

  .images .secAbout {
    position: absolute;
    bottom: -65px;
    left: 5px;
  }

  .content {
    margin-top: 65rem;
    min-height: 40dvh;
  }

  .content h3 {
    padding-inline: 1rem;
  }

  .photos-grid {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    padding-inline: 0;
    margin-inline: 0.75rem;
    justify-content: normal;
  }

  .photos-grid .img-container {
    scroll-snap-align: start;
    padding-inline: 0.5rem;
  }

  .photos-grid img {
    width: 12rem;
  }

  .img-details {
    opacity: 1;
    white-space: normal;
    text-align: start;
  }

  .img-details h3 {
    text-align: start;
  }

  .whyUsBoxDetails .logisticPara {
    width: 100%;
  }

  .pros {
    padding-top: 0.5rem;
  }

  .prosDetails {
    padding-top: 0.5rem;
  }

  .why-us {
    min-height: 35dvh;
  }

  .bgGradient {
    height: 35vh;
  }

  .why-choose {
    height: 85dvh;
    background: linear-gradient(
      to bottom,
      var(--primary-sec-color) 15%,
      var(--secondary-color) 35%
    );
    flex-direction: column;
    justify-content: center;
  }

  .why-choose div.imgContainer {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
  }

  .why-choose .whyChooseImg {
    width: 21rem;
    margin-left: 0;
  }

  .whyChooseBox {
    padding-inline: 1.8rem;
    margin-top: 4rem;
    padding-bottom: 5rem;
    width: 100%;
  }

  .features {
    margin-inline: 0.1rem;
    margin-left: -10px;
  }

  .whyChooseBox h3 {
    font-size: 1.9rem;
    width: 18rem;
  }

  .whyChooseBox .whyChooseParag {
    width: 18rem;
  }

  .bookingSection {
    padding-inline: 2rem;
    padding-top: 3rem;
  }

  .bookingContaienr h3 {
    width: 20.5rem;
  }

  .bookingContaienr {
    flex-direction: column;
  }

  .bookingDetails {
    margin-left: 3rem;
  }

  input,
  .select {
    width: 100%;
    cursor: pointer;
  }

  form button {
    width: 100%;
  }

  .secBg {
    height: 34rem;
    margin: -195px;
  }

  .sponsorsImages {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .sponsorsImages img {
    scroll-snap-align: start;
  }

  footer {
    padding-inline: 0;
    min-height: 30dvh;
  }

  .footerNav {
    padding-inline: 0;
  }

  .subs h2 {
    font-size: 1.3rem;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
  }

  .footerInfo {
    padding-block: 2.5rem;
  }

  .subs {
    white-space: nowrap;
    padding-left: 2rem;
  }

  .footer-footer-names {
    padding: 0rem;
    font-size: 0.68rem;
  }

  /* design the mobile menu */
  .navInfoMobile,
  .cancelIcon {
    display: none;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }

  .navInfoMobile {
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(9, 18, 66, 0.25);
    padding-top: 90px;
    position: relative;
    transition: all 0.5s;
  }

  body.active {
    overflow-y: hidden;
  }

  .cancelIcon {
    position: absolute;
    top: 35px;
    right: 30px;
  }

  .cancelIcon.active,
  .navInfoMobile.active {
    display: flex;
  }

  .navInfoMobile li a {
    color: #f4f4f4;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
  }

  .mobileLinks {
    width: 75%;
    border-bottom: 1px solid #f4f4f4b1;
    padding: 0 22px;
    margin-left: 24px;
  }

  li.nav-items:not(:last-child)::after {
    content: none;
  }
  .whyUsBox {
    padding-inline: 2rem;
  }

  .img-details h5 {
    font-size: 0.8rem;
  }

  .img-details p {
    font-size: 0.7rem;
  }

  .enlanMob,
  .arlanMob {
    display: flex;
    padding: 1rem 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: none;
    color: #fff;
    font-family: "Krub";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135.023%;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    margin-inline: 0.15rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-content {
    margin-top: 15rem;
  }

  .whyUsBox {
    width: 85%;
    margin-inline: 0;
    flex-direction: column;
    padding-left: 5rem;
  }

  .whyUsBoxDetails {
    padding-bottom: 4rem;
    width: auto;
  }
  .whyUsBoxDetails h3 {
    width: 45rem;
    padding-bottom: 1rem;
  }
  .whyUsBoxDetails .logisticPara {
    width: 40rem;
    padding-block: 0.5rem;
  }

  .images {
    padding-inline: 0rem;
    display: flex;
    justify-content: center;
  }

  .images .firstAbout {
    width: 20rem;
    height: 20rem;
  }

  .images .secAbout {
    position: absolute;
    bottom: -45px;
    left: 75px;
  }

  .content {
    margin-top: 44rem;
    min-height: 25dvh;
  }

  .photos-grid {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    padding-inline: 0;
    justify-content: normal;
    margin-inline: 5rem;
  }

  .photos-grid .img-container {
    scroll-snap-align: start;
    padding-inline: 0.5rem;
  }

  .photos-grid img {
    width: 12rem;
  }

  .img-details {
    opacity: 1;
    text-align: start;
  }

  .bgGradient {
    height: 15vh;
  }

  .why-choose {
    background: linear-gradient(
      to bottom,
      var(--primary-sec-color) 15%,
      var(--secondary-color) 35%
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .why-choose div.imgContainer {
    display: flex;
    justify-content: center;
  }

  .why-choose .whyChooseImg {
    width: 50rem;
    margin-left: 0;
  }

  .whyChooseBox {
    padding-inline: 12rem;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .whyChooseBox h3 {
    font-size: 2.4rem;
    width: 32rem;
  }

  .whyChooseBox .smallLabels {
    align-self: self-start;
    margin-left: 4rem;
  }

  .whyChooseBox .whyChooseParag {
    width: 30rem;
    font-size: 1rem;
  }

  .sponsorsImages {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .sponsorsImages img {
    scroll-snap-align: start;
  }

  .bookingSection {
    padding-inline: 1rem;
    min-height: auto;
  }

  input,
  .select {
    width: 100%;
  }

  .borderLine {
    width: 100%;
  }

  .secBg {
    background: url(../assets/footer.png);
    height: 14rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -80px;
  }

  .lastSection {
    padding-top: 0;
    margin-top: 0;
  }

  .bookingContaienrs {
    margin-bottom: 0;
  }

  footer {
    min-height: 25vh;
  }
}
